.comandos {
    color: #555555;
    font-size: 16px;
}

.status-bar {
    z-index: 100;
    color: rgb(22, 19, 19);
    font-family: 'Courier New', monospace;
}

.barra-fundo {
    width: 200px;
    height: 20px;
    background: #ffffff;
    border: 2px solid #fff;
}

.barra-progresso {
    height: 100%;
    background: #ff0000;
    transition: width 0.3s ease;
}

.energia-progresso {
    font-size: 14px;
    color: black;
    transition: width 0.3s ease;
}

/* Tela de Game Over */
.game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    z-index: 1000;
    font-family: 'Courier New', monospace;
}

.game-over button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}